body{
    background: #222222;
    color: #ddd;
}

br{
    display:block;
    margin:2px 0;
}

#container {
    margin:0 auto;
    width: 1200px;    
}

#left-container{
    float:left;
}

#right-container{
    padding: 10px 0 0 20px;
    float: left; 
    text-align: center;   
}

p{
    margin:0;
    padding:0;
}

input[type=range]{
    width:250px;    
}

canvas {
    border: 1px solid #fff;    
}

#lol {   
    width:30px;
}

#makePng, #changeResolution{
    background: #000;
    color:#ddd;
    width: 150px;  
    height: 25px;
    padding:0px;
}

#mandelbrot, #julia{
    height: 30px;
    width: 130px;
    background: #222;
    color: #ddd;
    margin: 0 20px 20px 0;
}

#loadingGif {
    visibility:hidden;
}

#drawNewFractal{
    padding:0;
    height: 40px;
    width: 304px;
    background: #fff;
    color: #000; 
    font-size:20px;
    letter-spacing:2px;  
}

#resulutionContainer {
    background: #333;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 15;
    padding: 30px;
    margin: -200px 0 0 -90px;
    font-size: 100%;
    letter-spacing: 3px;
    display:none;
}

#biggercanvas{
    text-align: center;
}

.greenDiv {
  -webkit-animation: KEYFRAME-NAME 2s forwards;
  -moz-animation:    KEYFRAME-NAME 2s forwards;
  -o-animation:      KEYFRAME-NAME 2s forwards;
  animation:         KEYFRAME-NAME 2s forwards;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%   { background: #fff; }
  100% { background: #0a0; }
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { background: #fff; }
  100% { background: #0a0; }
}
@-o-keyframes KEYFRAME-NAME {
  0%   { background: #fff; }
  100% { background: #0a0; }
}
@keyframes KEYFRAME-NAME {
  0%   { background: #fff; }
  100% { background: #0a0; }
}

