body{
    background: #222222;
    color: #ddd;
}

#container {
    margin:0 auto;
    width: 1200px;    
}

#left-container{
    float:left;
}

#right-container{
    padding: 10px 0 0 20px;
    float: left;    
}

p {
    margin:0;
    padding:0;
}


canvas {
    border: 1px solid #fff;    
}

#lol {   
    width:30px;
}

#mandelbrot, #julia, #fern{
    height:30px;
    width:120px;
    background: #222;
    color: #ddd;
    margin: 0 20px 20px 0;
}

#loadingGif {
    visibility:hidden;
}